/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Abel', sans-serif;*/

h2{
    font-size: 48px;
    font-family: 'Anton', sans-serif
}

h3{
    font-size: 40px;
    font-family: 'Anton', sans-serif
}

h4{
    font-size:32px;
    font-family: 'Anton', sans-serif
}

h5{
    font-size:28px;
    font-family: 'Anton', sans-serif
}
a{
    color:black;
}

#logo {
    height: 105px;
    width: 105px;
    margin-left:auto;
    margin-right:auto;

}

#sub-heading{
    padding-top:5px;
}
h4{
    font-size:32px;
}
h5{
    font-size:28px;
    font-weight:bold;
}
img{
    /*padding-left:15px;*/
    /*padding-right:15px;*/
    height:auto;
    width: 100%;
}
.featured{
    font-size: 10px;
}
.btn{
    border-radius:50%;
    height:18px;
    width:18px;
    font-size: 8px;
    color: #000000;
    padding:0;
}
.big-button{
    height:105px;
    width:105px;
    font-size:18px;
    font-weight:bold;
    color:#fff;


}


