/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Abel', sans-serif;*/
 *{
     background-color:#E6E6E6;

     }

h2{
    font-size: 48px;
    font-family: 'Anton', sans-serif
}

h3{
    font-size: 40px;
    font-family: 'Anton', sans-serif
}

h4{
    font-size:32px;
    font-family: 'Anton', sans-serif
}

h5{
    font-size:28px;
    font-family: 'Anton', sans-serif
}
a{
    color:black;
}

#logo {
    height: 105px;
    width: 105px;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    margin-bottom:15px;

}

#sub-heading{
    padding-top:5px;
}
h4{
    font-size:32px;
}
h5{
    font-size:28px;
    font-weight:bold;
}
img{
    /*padding-left:15px;*/
    /*padding-right:15px;*/
    height:auto;
    width: 100%;
}
.featured{
    font-size: 10px;
}
.btn{
    border-radius:50%;
    height:18px;
    width:18px;
    font-size: 8px;
    color: #000000;
    padding:0;
}
.big-button{
    height:105px;
    width:105px;
    font-size:18px;
    font-weight:bold;
    color:#fff;
    border:2px solid white;


}
.yellow{
    background-color:#EB9D3B;
}
.orange{
    background-color:#E6563A;
}
.green{
    background-color:#7CB06C;
}
.blue{
    background-color:#00ABA9;


}
.col-1{
    margin-right:15px;
    padding:0;
}
#twit{
    color:blue;
    height:18px;
    width:18px;
}

